<h1>Users</h1>
<table>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    {% for user in user_list %}
    <tr>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.username}}</td>
        <td><a href="/user/{{user.id}}">Details</a></td>
        <td><a href="/user/{{user.id}}/change">Change</a></td>
        <td><a href="/user/{{user.id}}/delete">Delete</a></td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if user_list.has_previous %}
        <a href="?page={{user_list.previous_page_number}}">Previous</a>
        {% endif %}
        Page {{ user_list.number }} of {{ user_list.paginator.num_pages }}
        {% if user_list.has_next %}
        <a href="?page={{user_list.next_page_number}}">Next</a>
        {% endif %}
    </span>
</div>
<a href="/user/add">New</a>
