{% extends "project/base.html" %}
{% load show_navtabs %}

{% block bootstrap3_sidebar %}
{% endblock %}

{% block content %}

<div class="col-lg-2 col-md-2 col-sm-2">
    {% show_navtabs active_tab="repositories" project_title=project_title user=user %}
</div>
<div class="col-lg-8 col-md-8 col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <a href="/porter/{{ project_title }}">{{ project_title }}</a>
                /
                <a href="/porter/{{ project_title }}/repository/{{ object.repository.title }}">{{ object.repository.title }}</a>
                {{ object.title }}
            <span class="pull-right">
                    <span class="label label-info">{{ issue.status }}</span>
            </span>
            </h3>

            {% for label in object.labels.all %}
            <span class="label label-primary">{{ label }}</span>
            {% endfor %}
        </div>

        <div class="panel-body">
            <p>{{ object.description }}</p>
            <div class="input-group">
                <span class="input-group-addon"><b>Creator:</b> </span>
                <input type="text" class="form-control" placeholder="Creator" value="{{ object.creator }}" disabled>
            </div>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon"><b>Assignee:</b> </span>
                <input type="text" class="form-control" placeholder="Assignee" value="{{ object.assignee }}" disabled>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
            <div>
                {% if porteruser.picture %}
                <img src="{{porteruser.picture.url}}" class="porter-thumbnail ">
                {% endif %}
            </div>
        </div>
        <div class="col-sm-11">
            <div class="panel comment panel-default">
                <div class="panel-heading">
                    Leave a comment
                </div>
                <div class="panel-body">
                    <form id="add_comment" method="post" >
                        {% csrf_token %}
                        <textarea class="form-control" name="content" placeholder="Comment..." style="resize: vertical"></textarea>
                        <button class="btn btn-success comment-submit" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Comments</h4>
        </div>
        <div class="panel-body">
        {% for comment in comments %}
        <div class="row">
            <div class="col-sm-1">
                <div>
                    {% if porteruser.picture %}
                    <img src="{{comment.porteruser.picture.url}}" class="porter-thumbnail ">
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-11">
                <div class="panel comment panel-default">
                    <div class="panel-heading">
                        <a href="{% url 'profile' %}"><strong>{{comment.user.username}}</strong></a> commented
                    </div>
                    <div class="panel-body">
                        <span>
                        <p>{{comment.content}}</p>
                        <p class="text-muted"><span class="glyphicon glyphicon-time"></span> {{ comment.datestamp|timesince }} ago</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2">

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Milestone</h4></div>
            <div class="panel-body">
                {% if object.milestone %}
                    {{ object.milestone }}
                {% else %}
                    No milestone.
                {% endif %}
            </div>
        </div>
</div>
<div class="col-lg-8 col-md-8 col-sm-8">

</div>
{% endblock %}
