<h1>Issues</h1>
<table>
    <th>ID</th>
    <th>Title</th>
    <th>Creator</th>
    <th>Assignee</th>
    <th>Repository</th>
    <th>Milestone</th>
    {% for issue in issue_list %}
        <tr>
            <td>{{issue.id}}</td>
            <td>{{issue.title}}</td>
            <td>{{issue.creator}}</td>
            <td>{{issue.assignee}}</td>
            <td>{{issue.repository}}</td>
            <td>{{issue.milestone}}</td>
            <td><a href="/issue/{{issue.id}}">Details</a></td>
            <td><a href="/issue/{{issue.id}}/change">Change</a></td>
            <td><a href="/issue/{{issue.id}}/delete">Delete</a></td>
        </tr>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if issue_list.has_previous %}
            <a href="?page={{issue_list.previous_page_number }}">Previous</a>
        {% endif %}
        Page {{ issue_list.number }} of {{ issue_list.paginator.num_pages }}
        {% if issue_list.has_next %}
            <a href="?page={{issue_list.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
<a href="/issue/add">New</a>
