{% extends "project/base.html" %}
{% load show_navtabs %}

{% block bootstrap3_sidebar %}
{% endblock %}

{% block content %}
<div class="col-lg-2 col-md-2 col-sm-2">
    {% show_navtabs active="issues" project_title=project_title user=user %}
</div>
<div class="col-lg-8 col-md-8 col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Issues</h3></div>

        <div class="panel-body">

            <table class="table">
                <thead>
                    <tr>
                        <td class="col-lg-6 col-md-6 col-sm-6">Title</td>
                        <td class="col-lg-1 col-md-1 col-sm-1">Assignee</td>
                        <td class="col-lg-1 col-md-1 col-sm-1">Creator</td>
                        <td class="col-lg-1 col-md-1 col-sm-1">Milestone</td>
                        <td class="col-lg-2 col-md-2 col-sm-2"></td>
                    </tr>
                </thead>
                <tbody>
                {% for issue in issue_list %}
                   {% with project_title=project_title issue=issue %}
                   {% include "issue/single_issue.html" %}
                   {% endwith %}
                </tbody>
                {% endfor %}
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if issue_list.has_previous %}
                    <a href="?page={{issue_list.previous_page_number}}">Previous</a>
                    {% endif %}
                    Page {{ issue_list.number }} of {{ issue_list.paginator.num_pages }}
                    {% if issue_list.has_next %}
                    <a href="?page={{issue_list.next_page_number}}">Next</a>
                    {% endif %}
                </span>
            </div>
            <p>
            {% if add_issue %}
            <a class="btn btn-success" href="{% url 'project:issues:new' project_title %}">
             <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New
            </a>
            {% endif %}
            <a class="btn btn-default" href="{% url 'project:overview' project_title %}">Back</a>
            </p>
        </div>
    </div>
</div>

    <script>
        $( document ).ready(function() {
             $('.delete').click(function(e){
             if (!confirm('Delete this repository?')){
                 e.preventDefault();
             }
            });
        });

    </script>
{% endblock %}
