{% extends "project/base.html" %}
{% load show_navtabs %}

{% block title %}
{% endblock %}
{% block bootstrap3_sidebar %}
{% endblock %}

{% block content %}
<div class="col-lg-2 col-md-2 col-sm-2">
    {% show_navtabs active="repositories" project_title=project_title user=user %}
</div>
<div class="col-lg-8 col-md-8 col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Repositories</h3></div>

        <div class="panel-body">
            {% url 'project:repository:list_all' project_title as cancel_url %}
            {% with title="Repository" namespace=cancel_url %}
            {% include "general/generic_form.html" %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
