{% extends "project/base.html" %}
{% load show_navtabs %}

{% block bootstrap3_sidebar %}
{% endblock %}

{% block content %}
{% if view_repository %}
<div class="col-lg-2 col-md-2 col-sm-2">
    {% show_navtabs active_tab="repositories" project_title=project_title user=user %}
</div>
<div class="col-lg-9 col-md-9 col-sm-9">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>{{ repository.title }}</h3></div>

        <div class="panel-body">
            <p>{{ repository.description }}</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Repository issues</h3></div>

        <div class="panel-body">
        {% if issues %}
             <table class="table">
                 <thead>
                    <tr>
                        <td class="col-lg-6 col-md-6 col-sm-6">Title</td>
                        <td class="col-lg-1 col-md-1 col-sm-1">Status</td>
                        <td class="col-lg-1 col-md-1 col-sm-1">Assignee</td>
                        <td class="col-lg-1 col-md-1 col-sm-1">Creator</td>
                        <td class="col-lg-1 col-md-1 col-sm-1">Milestone</td>
                        <td class="col-lg-2 col-md-2 col-sm-2"> </td>
                    </tr>
                 </thead>
                 <tbody>
                    {% for issue in issues %}
                        {% with project_title=project_title issue=issue view_issue=view_issue change_issue=change_issue delete_issue=delete_issue%}
                        {% include "issue/single_issue.html" %}
                        {% endwith %}
                    {% endfor %}
                </tbody>
             </table>
        {% else %}
            No issues at the moment. Would you like to add a new one?
        {% endif %}
        {% if add_issue %}
            <p>
                <a class="btn btn-success" href="{% url 'project:repository:issue:new' project_title repository.title %}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        New Issue
                </a>
            </p>
        {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3>Repository milestones</h3></div>

        <div class="panel-body">
        {% if milestones %}
              <table class="table">
                    <thead>
                        <tr>
                            <td class="col-lg-6 col-md-6 col-sm-6">Title</td>
                            <td class="col-lg-2 col-md-2 col-sm-2"></td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for milestone in milestones %}
                       {% with project_title=project_title milestone=milestone %}
                       {% include "milestone/single_milestone.html" %}
                       {% endwith %}
                    </tbody>
                    {% endfor %}
                </table>
        {% else %}
            No milestones at the moment. Would you like to add a new one?
        {% endif %}
        {% if add_milestone %}
            <p>
                <a class="btn btn-success" href="{% url 'project:repository:milestone:new' project_title repository.title %}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        New Milestone
                </a>
            </p>
        {% endif %}
        </div>
    </div>


    <a class="btn btn-default" href="{% url 'project:repository:list_all' project_title %}">Back</a>
</div>

{% endif %}
{% endblock %}
