{% extends "project/base.html" %}
{% load show_navtabs %}

{% block bootstrap3_sidebar %}
{% endblock %}

{% block content %}
{% if view_repository %}
<div class="col-lg-2 col-md-2 col-sm-2">
    {% show_navtabs active="repositories" project_title=project_title user=user %}
</div>
<div class="col-lg-8 col-md-8 col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>{{ repository.title }}</h3></div>

        <div class="panel-body">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Repository issues</h3></div>

        <div class="panel-body">
        {% if issues %}
             <table class="table">
                 <thead>
                    <tr>
                        <td class="col-lg-6 col-md-6 col-sm-6">Title</td>
                        <td class="col-lg-1 col-md-1 col-sm-1">Assignee</td>
                        <td class="col-lg-1 col-md-1 col-sm-1">Creator</td>
                        <td class="col-lg-1 col-md-1 col-sm-1">Milestone</td>
                        <td class="col-lg-2 col-md-2 col-sm-2"> </td>
                    </tr>
                 </thead>
                 <tbody>
                    {% for issue in issues %}
                        {% with project_title=project_title issue=issue view_issue=view_issue change_issue=change_issue delete_issue=delete_issue%}
                        {% include "issue/single_issue.html" %}
                        {% endwith %}
                    {% endfor %}
                </tbody>
             </table>
        {% else %}
            No issues at the moment. Would you like to add a new one?
        {% endif %}
        {% if add_issue %}
            <a class="btn btn-success" href="{% url 'project:issues:new' project_title %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    New Issue
            </a>
        {% endif %}
        </div>
    </div>


    <a class="btn btn-default" href="{% url 'project:repository:list_all' project_title %}">Back</a>
</div>

{% endif %}
{% endblock %}