*.pyc
/porter/__pycache__/*
/core/__pycache__/*
/db.sqlite3
/venv
/.idea
/static/css/
/static/fonts/
static/js/
delete.sql
*.org

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
