{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load filters %}

{% block bootstrap3_content %}
<div class="col-lg-8 col-md-8 col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Register</h3></div>

        <div class="panel-body">
            {% url 'login' project_title as cancel_url %}
            {% with title="Register" namespace=cancel_url %}
            {% include "general/generic_form.html" %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}

