<h1>Milestones</h1>
<table>
    <th>ID</th>
    <th>Title</th>
    {% for milestone in milestone_list %}
        <tr>
            <td>{{milestone.id}}</td>
            <td>{{milestone.title}}</td>
            <td><a href="/milestone/{{milestone.id}}">Details</a></td>
            <td><a href="/milestone/{{milestone.id}}/change">Change</a></td>
            <td><a href="/milestone/{{milestone.id}}/delete">Delete</a></td>
        </tr>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if milestone_list.has_previous %}
            <a href="?page={{milestone_list.previous_page_number }}">Previous</a>
        {% endif %}
        Page {{ milestone_list.number }} of {{ milestone_list.paginator.num_pages }}
        {% if milestone_list.has_next %}
            <a href="?page={{milestone_list.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
<a href="/milestone/add">New</a>

