{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load filters %}

{% block bootstrap3_title %}
    Porter
{% endblock %}
{% block bootstrap3_content %}
    <div class="container">
        {% block navbar %}
            {% include "common/navbar.html" with active="dashboard" %}
        {% endblock %}
        {% block bootstrap3_sidebar %}
            <div class="container col-lg-2 col-md-2 col-sm-2 col-xs-2 sidebar">
                <ul class="nav nav-sidebar">

                </ul>
            </div>
        {% endblock %}

        <div class="container col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h1>{% block title %}(no title){% endblock %}</h1>

            {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

            {% block content %}
                (no content)
            {% block namespace %} {% endblock %}
            {% endblock %}
            {% block paginator %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
