
{% load bootstrap3 %}
{% load filters %}

{% block title %}
{% endblock %}

{% block content %}

    <table class="table">
         {% for key, value in object.items %}
             <tr>
                <td><b>{{ key|title }}: </b></td>
                    {% if value|is_list %}
                        <td>
                        {% for item in value %}
                             {{ item }} {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        </td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}




             </tr>
         {% endfor %}
    </table>
    <a href="/{{ namespace }}" class="btn btn-default"> < Back</a>

{% endblock %}