{% for recent_log in recent_logs %}
<div class="row">
    <div class="well col-md-6">
        <p>
            <b>
                <a href="{% url 'project:repository:issue:overview' project_title=recent_log.issue.repository.project.title repository_title=recent_log.issue.repository.title pk=recent_log.issue.id%}">
                    {{recent_log.issue.title}}
                </a> -
                <a
                    href="{% url 'project:repository:overview' project_title=recent_log.issue.repository.project.title repository_title=recent_log.issue.repository.title %}">
                    {{recent_log.issue.repository.title}}/{{recent_log.issue.repository.project.title}}
                </a>
            </b>
        </p>
        <p> {{ recent_log.content }}</p>
        <p class="text-muted"><span class="glyphicon glyphicon-time"></span> {{ recent_log.date_modified|timesince }} ago</p>
    </div>
</div>
{% endfor %}
