<script>
    $( document ).ready(function() {
        $("#{{ active }}").addClass("active");
    });
</script>
<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Porter</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li id="dashboard"><a href="/">Dashboard</a></li>
      <li id="projects"><a href="{% url 'user_projects' %}">Projects</a></li>
      <li><a href="#" id="issues">Issues</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"></span>
                Welcome, {{ user.username }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Edit profile</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </li>

    </ul>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>
