.nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.porter-info {
  overflow:hidden;
}

.comment-submit{
    float: right;
    margin-bottom: 5px;
    margin-top: 5px;
}

img.porter-thumbnail{
    height: 64px;
    width: 64px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.panel.comment {
	position:relative;
}
.panel.comment>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel.comment>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel.comment>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}