<h1>Projects</h1>
<table>
    <th>Title</th>
    <th>Users</th>
    {% for project in project_list %}
    <tr>
        <td>{{project.title}}</td>
        <td><a href="/project/{{project.id}}">Details</a></td>
        <td><a href="/project/{{project.id}}/change">Change</a></td>
        <td><a href="/project/{{project.id}}/delete">Delete</a></td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if project_list.has_previous %}
        <a href="?page={{project_list.previous_page_number}}">Previous</a>
        {% endif %}
        Page {{ project_list.number }} of {{ project_list.paginator.num_pages }}
        {% if project_list.has_next %}
        <a href="?page={{project_list.next_page_number}}">Next</a>
        {% endif %}
    </span>
</div>
<a href="/project/add">New</a>
