{% extends "project/base.html" %}

{% block content %}
    {% include "project/navtabs.html" with active="members" project_title=project_title %}
    <h3>Members</h3>
    <table class="table">
        <tbody>
        {% for user in users %}
            <tr>
                <form action="{% url 'project:add_member' project_title %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{user.id}}" name="user_id">
                    <td><a href="/user/{{user.id}}/">{{user.username}}</a></td>
                    <td>
                        <button class="btn btn-success btn-xs" type="submit">
                            Add
                        </button>
                    </td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if users.has_previous %}
                <a href="?page={{ users.previous_page_number}}">Previous</a>
            {% endif %}
            Page {{ users.number }} of {{ users.paginator.num_pages }}
            {% if users.has_next %}
                <a href="?page={{users.next_page_number}}">Next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}