<script>
    $( document ).ready(function() {
        $("#{{ active }}").addClass("active");
    });
</script>
<ul class="nav nav-tabs">
    <li role="presentation" id="overview">
        <a href="{% url 'project_overview'  project_title=project_title %}">Overview</a>
    </li>
    <li role="presentation" id="repositories">
        <a href="{% url 'repo_list_all'  project_title=project_title %}">Repositories</a>
    </li>
    <li role="presentation" id="issues">
        <a href="{% url 'project_issues'  project_title=project_title %}">Issues</a>
    </li>
        <li role="presentation" id="milestones">
        <a href="{% url 'project_members'  project_title=project_title %}">Milestones</a>
    </li>
    <li role="presentation" id="members">
        <a href="{% url 'project_members'  project_title=project_title %}">Members</a>
    </li>
</ul>