{% extends "project/base.html" %}
{% load show_navtabs %}

{% load show_recent_logs %}

{% block content %}


{% show_navtabs active="overview" project_title=project.title user=user %}


<div class="panel panel-default">
    <div class="panel-heading"><h3>{{project.title}}</h3></div>

    <div class="panel-body">
        <p>{{project.description}}</p>
        <p>
            {% if change_project %}
            <a class="btn btn-primary" href="{% url 'project:settings' project_title=project.title %}">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Settings
            </a>
            {% endif %}
        </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h4>Recent events</h4></div>
    <div class="panel-body">
    {% show_recent_logs user=user %}
    </div>
</div>
{% endblock %}
